.ReactJSONEditor {
  min-height: 250px;
  height: 300px;
}

.ReactJSONEditor a.jsoneditor-url {
  pointer-events: none;
}

.ReactJSONEditor > a.jsoneditor-url {
  pointer-events: none;
}

.ReactJSONEditor div.jsoneditor-menu {
  height: 35px;
  color: #fff;
  background-color: #2B5595;
  border-bottom: 1px solid #2B5595;
  background-color: #848484;
  border-bottom: 1px solid #848484;
  margin: 0;
  border: none;
}

.ReactJSONEditor div.jsoneditor {
  color: #e9e9e9;
  border: thin solid #000000;
}

.jsoneditor-tree {
  background-color: rgba(245, 245, 245, 1);
}

.jsoneditor-tree-inner {

}

.jsoneditor-tree {
  background-color: rgba(245, 245, 245, 1);
}

div.jsoneditor td.jsoneditor-separator {
  padding: 3px 0;
  vertical-align: top;
  color: darkgray;
  background-color: #e5e5e5;
}

div.jsoneditor td.jsoneditor-separator {
  color: magenta;
  background-color: transparent;
}
